<div class="one-column-right-sidebar">    
    <div class="main-region">
      {{ content.main }}
    </div>   
    <div class="right-sidebar">
            {{ content.right_sidebar }}
    </div>   
</div>
  